02 Pandas
===
Pandas is an open-source Python Library providing high-performance data manipulation and analysis tool using its powerful data structures.

Pandas deals with the following three data structures âˆ’

| Data Structure | Dimensions |                                             Description                                            |
|:--------------:|:----------:|:--------------------------------------------------------------------------------------------------:|
|     Series     |      1     |                            1D labeled homogeneous array, sizeimmutable.                            |
|   Data Frames  |      2     | General 2D labeled, size-mutable tabular structure with potentially heterogeneously typed columns. |
|      Panel     |      3     |                               General 3D labeled, size-mutable array.                              |



**NOTE**: Although Pandas was based on Panel (**Pan**el **da**ta**s**), it was later removed in favor of using Dataframes with multi-index to represent 3D labeled arrays

# Series

In [24]:
#import the pandas library and aliasing as pd
import pandas as pd
import numpy as np

data = np.array(['a','b','c','d'])
s = pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
dtype: object

In [25]:
s[0]

'a'

In [26]:
s[:3]

0    a
1    b
2    c
dtype: object

In [27]:
for i in s:
    print(i)

a
b
c
d

In [28]:
s.index = ['w','x','y','z']

In [6]:
s

w    a
x    b
y    c
z    d
dtype: object

In [29]:
s['w']

'a'

In [30]:
s.size

4

In [31]:
data = np.array(['a','a','b','b','b','c','d'])
s = pd.Series(data)
print(s.value_counts())

b    3
a    2
c    1
d    1
dtype: int64

In [32]:
del s[0]
print(s)

1    a
2    b
3    b
4    b
5    c
6    d
dtype: object

In [33]:
s[7]='x' #not really recommended, only for demonstration
print(s)

1    a
2    b
3    b
4    b
5    c
6    d
7    x
dtype: object

In [34]:
s[1]='x'
print(s)

1    x
2    b
3    b
4    b
5    c
6    d
7    x
dtype: object

# Data Frames

In [37]:
#dataframe
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
print(data)
df = pd.DataFrame(data,columns=['Name','Age'])
print(df)

[['Alex', 10], ['Bob', 12], ['Clarke', 13]]
     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [39]:
df

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [38]:
print(df['Name'])

0      Alex
1       Bob
2    Clarke
Name: Name, dtype: object

In [40]:
df['Gender'] = [0,1,1]

df

     Name  Age  Gender
0    Alex   10       0
1     Bob   12       1
2  Clarke   13       1

In [41]:
df['color'] = ['blue', 'red','orange']

df

     Name  Age  Gender   color
0    Alex   10       0    blue
1     Bob   12       1     red
2  Clarke   13       1  orange

In [43]:
df['Name']

0      Alex
1       Bob
2    Clarke
Name: Name, dtype: object

In [42]:
df[['Age','Gender']]

   Age  Gender
0   10       0
1   12       1
2   13       1

In [44]:
del df['Gender']
print(df)

     Name  Age   color
0    Alex   10    blue
1     Bob   12     red
2  Clarke   13  orange

In [45]:
print(df.iloc[2]) #select row based on index

Name     Clarke
Age          13
color    orange
Name: 2, dtype: object

In [46]:
df.iloc[2]

Name     Clarke
Age          13
color    orange
Name: 2, dtype: object

In [47]:
df

     Name  Age   color
0    Alex   10    blue
1     Bob   12     red
2  Clarke   13  orange

In [48]:
print(df[1:2]) #slicing works in pandas

  Name  Age color
1  Bob   12   red

In [49]:
df1 = pd.DataFrame([['Michelle','27']],columns=['Name','Age'])
df = df.append(df1)
print(df)

       Name Age   color
0      Alex  10    blue
1       Bob  12     red
2    Clarke  13  orange
0  Michelle  27     NaN

In [50]:
df = df.drop(1)
print(df) #notice what happens to the index

       Name Age   color
0      Alex  10    blue
2    Clarke  13  orange
0  Michelle  27     NaN

In [57]:
# list(df.index)

- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reset_index.html
- https://pandas.pydata.org/docs/user_guide/advanced.html#:~:text=The%20MultiIndex%20object%20is%20the,list%20of%20arrays%20(using%20MultiIndex.

---

# Input / Output

In [1]:
import pandas as pd

df = pd.read_csv("data/character-deaths.csv")
df

,Name,Allegiances,Death Year,Book of Death,Death Chapter,Book Intro Chapter,Gender,Nobility,GoT,CoK,SoS,FfC,DwD
0,Addam Marbrand,Lannister,NaN,NaN,NaN,56.0,1,1,1,1,1,1,0
1,Aegon Frey (Jinglebell),None,299.0,3.0,51.0,49.0,1,1,0,0,1,0,0
2,Aegon Targaryen,House Targaryen,NaN,NaN,NaN,5.0,1,1,0,0,0,0,1
3,Adrack Humble,House Greyjoy,300.0,5.0,20.0,20.0,1,1,0,0,0,0,1
4,Aemon Costayne,Lannister,NaN,NaN,NaN,NaN,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
912,Zollo,None,NaN,NaN,NaN,21.0,1,0,0,0,1,0,0
913,Yurkhaz zo Yunzak,None,300.0,5.0,59.0,47.0,1,0,0,0,0,0,1
914,Yezzan Zo Qaggaz,None,300.0,5.0,57.0,25.0,1,1,0,0,0,0,1
915,Torwynd the Tame,Wildling,300.0,5.0,73.0,73.0,1,0,0,0,1,0,0
916,Talbert Serry,Tyrell,300.0,4.0,29.0,29.0,1,1,0,0,0,1,0

In [2]:
new_df = df.groupby("Allegiances").count()['Name']
print(new_df)
new_df.to_csv("data/allegiances.csv")

Allegiances
Arryn               23
Baratheon           56
Greyjoy             51
House Arryn          7
House Baratheon      8
House Greyjoy       24
House Lannister     21
House Martell       12
House Stark         35
House Targaryen     19
House Tully          8
House Tyrell        11
Lannister           81
Martell             25
Night's Watch      116
None               253
Stark               73
Targaryen           17
Tully               22
Tyrell              15
Wildling            40
Name: Name, dtype: int64

In [3]:
import pandas as pd

df = pd.read_csv("data/character-deaths.csv")
df

,Name,Allegiances,Death Year,Book of Death,Death Chapter,Book Intro Chapter,Gender,Nobility,GoT,CoK,SoS,FfC,DwD
0,Addam Marbrand,Lannister,NaN,NaN,NaN,56.0,1,1,1,1,1,1,0
1,Aegon Frey (Jinglebell),None,299.0,3.0,51.0,49.0,1,1,0,0,1,0,0
2,Aegon Targaryen,House Targaryen,NaN,NaN,NaN,5.0,1,1,0,0,0,0,1
3,Adrack Humble,House Greyjoy,300.0,5.0,20.0,20.0,1,1,0,0,0,0,1
4,Aemon Costayne,Lannister,NaN,NaN,NaN,NaN,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
912,Zollo,None,NaN,NaN,NaN,21.0,1,0,0,0,1,0,0
913,Yurkhaz zo Yunzak,None,300.0,5.0,59.0,47.0,1,0,0,0,0,0,1
914,Yezzan Zo Qaggaz,None,300.0,5.0,57.0,25.0,1,1,0,0,0,0,1
915,Torwynd the Tame,Wildling,300.0,5.0,73.0,73.0,1,0,0,0,1,0,0
916,Talbert Serry,Tyrell,300.0,4.0,29.0,29.0,1,1,0,0,0,1,0

In [4]:
new_df = df.groupby("Allegiances").count()['Name']
new_df.to_excel("data/allegiances.xls")
print(new_df)

Allegiances
Arryn               23
Baratheon           56
Greyjoy             51
House Arryn          7
House Baratheon      8
House Greyjoy       24
House Lannister     21
House Martell       12
House Stark         35
House Targaryen     19
House Tully          8
House Tyrell        11
Lannister           81
Martell             25
Night's Watch      116
None               253
Stark               73
Targaryen           17
Tully               22
Tyrell              15
Wildling            40
Name: Name, dtype: int64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.

In [5]:
allegiances_df = pd.read_excel("data/allegiances.xls")
print(allegiances_df)

ImportError: ignored

In [63]:
!pip install xlrd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)

In [6]:
df.columns

Index(['Name', 'Allegiances', 'Death Year', 'Book of Death', 'Death Chapter',
       'Book Intro Chapter', 'Gender', 'Nobility', 'GoT', 'CoK', 'SoS', 'FfC',
       'DwD'],
      dtype='object')

In [7]:
df['Gender'].value_counts()

1    760
0    157
Name: Gender, dtype: int64

Special Files
---
CSV and Excel are easy to understand and use for small files but once you start going to larger datasets they are essentially slow and memory intensive. Feel free to use the following file types for storage requirements they are not as interpretable (as they are in custom non-text format) but they are meant to be fast (pickle) and very fast (hdf).

* Pickle - Pickle (serialize) object to file.
* HDF - Hierarchical Data Format (HDF) is self-describing, allowing an application to interpret the structure and contents of a file with no outside information. One HDF file can hold a mix of related objects which can be accessed as a group or as individual objects.

Pandas is compatible with a lot of other files and standard interfaces ie. SQL feel free to explore as your business need permits.

# Let's go through some things you can do with your data frames

# Missing Data

In [8]:


import pandas as pd

df = pd.read_csv("data/character-deaths.csv")

df.shape

(917, 13)

In [12]:
df.head(5)

,Name,Allegiances,Death Year,Book of Death,Death Chapter,Book Intro Chapter,Gender,Nobility,GoT,CoK,SoS,FfC,DwD
0,Addam Marbrand,Lannister,NaN,NaN,NaN,56.0,1,1,1,1,1,1,0
1,Aegon Frey (Jinglebell),None,299.0,3.0,51.0,49.0,1,1,0,0,1,0,0
2,Aegon Targaryen,House Targaryen,NaN,NaN,NaN,5.0,1,1,0,0,0,0,1
3,Adrack Humble,House Greyjoy,300.0,5.0,20.0,20.0,1,1,0,0,0,0,1
4,Aemon Costayne,Lannister,NaN,NaN,NaN,NaN,1,1,0,0,1,0,0

In [13]:
df[df['Death Year'].isnull()]

,Name,Allegiances,Death Year,Book of Death,Death Chapter,Book Intro Chapter,Gender,Nobility,GoT,CoK,SoS,FfC,DwD
0,Addam Marbrand,Lannister,NaN,NaN,NaN,56.0,1,1,1,1,1,1,0
2,Aegon Targaryen,House Targaryen,NaN,NaN,NaN,5.0,1,1,0,0,0,0,1
4,Aemon Costayne,Lannister,NaN,NaN,NaN,NaN,1,1,0,0,1,0,0
5,Aemon Estermont,Baratheon,NaN,NaN,NaN,NaN,1,1,0,1,1,0,0
8,Aeron Greyjoy,House Greyjoy,NaN,NaN,NaN,11.0,1,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
906,Yohn Farwynd,Greyjoy,NaN,NaN,NaN,19.0,1,1,0,0,0,1,0
907,Yohn Royce,Arryn,NaN,NaN,NaN,29.0,1,1,1,0,0,1,0
910,Ysilla,House Targaryen,NaN,NaN,NaN,8.0,1,0,0,0,0,0,1
911,Zei,Stark,NaN,NaN,NaN,64.0,0,0,0,0,1,0,0
912,Zollo,None,NaN,NaN,NaN,21.0,1,0,0,0,1,0,0

In [14]:
df.fillna("NONE")

,Name,Allegiances,Death Year,Book of Death,Death Chapter,Book Intro Chapter,Gender,Nobility,GoT,CoK,SoS,FfC,DwD
0,Addam Marbrand,Lannister,NONE,NONE,NONE,56.0,1,1,1,1,1,1,0
1,Aegon Frey (Jinglebell),None,299.0,3.0,51.0,49.0,1,1,0,0,1,0,0
2,Aegon Targaryen,House Targaryen,NONE,NONE,NONE,5.0,1,1,0,0,0,0,1
3,Adrack Humble,House Greyjoy,300.0,5.0,20.0,20.0,1,1,0,0,0,0,1
4,Aemon Costayne,Lannister,NONE,NONE,NONE,NONE,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
912,Zollo,None,NONE,NONE,NONE,21.0,1,0,0,0,1,0,0
913,Yurkhaz zo Yunzak,None,300.0,5.0,59.0,47.0,1,0,0,0,0,0,1
914,Yezzan Zo Qaggaz,None,300.0,5.0,57.0,25.0,1,1,0,0,0,0,1
915,Torwynd the Tame,Wildling,300.0,5.0,73.0,73.0,1,0,0,0,1,0,0
916,Talbert Serry,Tyrell,300.0,4.0,29.0,29.0,1,1,0,0,0,1,0

In [15]:
df.dropna()

,Name,Allegiances,Death Year,Book of Death,Death Chapter,Book Intro Chapter,Gender,Nobility,GoT,CoK,SoS,FfC,DwD
1,Aegon Frey (Jinglebell),None,299.0,3.0,51.0,49.0,1,1,0,0,1,0,0
3,Adrack Humble,House Greyjoy,300.0,5.0,20.0,20.0,1,1,0,0,0,0,1
6,Aemon Targaryen (son of Maekar I),Night's Watch,300.0,4.0,35.0,21.0,1,1,1,0,1,1,0
10,Aggar,House Greyjoy,299.0,2.0,56.0,50.0,1,0,0,1,0,0,0
12,Alan of Rosby,Night's Watch,300.0,5.0,4.0,18.0,1,1,0,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
909,Young Henly,Night's Watch,299.0,3.0,55.0,55.0,1,0,0,0,1,0,0
913,Yurkhaz zo Yunzak,None,300.0,5.0,59.0,47.0,1,0,0,0,0,0,1
914,Yezzan Zo Qaggaz,None,300.0,5.0,57.0,25.0,1,1,0,0,0,0,1
915,Torwynd the Tame,Wildling,300.0,5.0,73.0,73.0,1,0,0,0,1,0,0
916,Talbert Serry,Tyrell,300.0,4.0,29.0,29.0,1,1,0,0,0,1,0

In [16]:
df_tmp = df.fillna("NONE")
df_tmp.replace({"NONE":"WALA"})

,Name,Allegiances,Death Year,Book of Death,Death Chapter,Book Intro Chapter,Gender,Nobility,GoT,CoK,SoS,FfC,DwD
0,Addam Marbrand,Lannister,WALA,WALA,WALA,56.0,1,1,1,1,1,1,0
1,Aegon Frey (Jinglebell),None,299.0,3.0,51.0,49.0,1,1,0,0,1,0,0
2,Aegon Targaryen,House Targaryen,WALA,WALA,WALA,5.0,1,1,0,0,0,0,1
3,Adrack Humble,House Greyjoy,300.0,5.0,20.0,20.0,1,1,0,0,0,0,1
4,Aemon Costayne,Lannister,WALA,WALA,WALA,WALA,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
912,Zollo,None,WALA,WALA,WALA,21.0,1,0,0,0,1,0,0
913,Yurkhaz zo Yunzak,None,300.0,5.0,59.0,47.0,1,0,0,0,0,0,1
914,Yezzan Zo Qaggaz,None,300.0,5.0,57.0,25.0,1,1,0,0,0,0,1
915,Torwynd the Tame,Wildling,300.0,5.0,73.0,73.0,1,0,0,0,1,0,0
916,Talbert Serry,Tyrell,300.0,4.0,29.0,29.0,1,1,0,0,0,1,0

# Statistics

In [18]:
import pandas as pd

df = pd.read_csv("data/character-deaths.csv")
df.head(5)

,Name,Allegiances,Death Year,Book of Death,Death Chapter,Book Intro Chapter,Gender,Nobility,GoT,CoK,SoS,FfC,DwD
0,Addam Marbrand,Lannister,NaN,NaN,NaN,56.0,1,1,1,1,1,1,0
1,Aegon Frey (Jinglebell),None,299.0,3.0,51.0,49.0,1,1,0,0,1,0,0
2,Aegon Targaryen,House Targaryen,NaN,NaN,NaN,5.0,1,1,0,0,0,0,1
3,Adrack Humble,House Greyjoy,300.0,5.0,20.0,20.0,1,1,0,0,0,0,1
4,Aemon Costayne,Lannister,NaN,NaN,NaN,NaN,1,1,0,0,1,0,0

In [19]:
df.count()

Name                  917
Allegiances           917
Death Year            305
Book of Death         307
Death Chapter         299
Book Intro Chapter    905
Gender                917
Nobility              917
GoT                   917
CoK                   917
SoS                   917
FfC                   917
DwD                   917
dtype: int64

In [20]:
df['Nobility'].sum()

430

In [21]:
df['Nobility'].sum()/df['Nobility'].count()

0.46892039258451473

In [22]:
df['Death Year'].mean()

299.15737704918035

In [23]:
df['Death Year'].std()

0.7034826467937558

In [24]:
df['Death Year'].max()

300.0

In [25]:
df['Death Year'].min()

297.0

In [26]:
df.describe() #quick summary

,Death Year,Book of Death,Death Chapter,Book Intro Chapter,Gender,Nobility,GoT,CoK,SoS,FfC,DwD
count,305.000000,307.000000,299.000000,905.000000,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000
mean,299.157377,2.928339,40.070234,28.861878,0.828790,0.468920,0.272628,0.353326,0.424209,0.272628,0.284624
std,0.703483,1.326482,20.470270,20.165788,0.376898,0.499305,0.445554,0.478264,0.494492,0.445554,0.451481
min,297.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,299.000000,2.000000,25.500000,11.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,299.000000,3.000000,39.000000,27.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,300.000000,4.000000,57.000000,43.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,300.000000,5.000000,80.000000,80.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

# Aggregations

In [27]:
import pandas as pd

df = pd.read_csv("data/character-deaths.csv")
df.head(5)

,Name,Allegiances,Death Year,Book of Death,Death Chapter,Book Intro Chapter,Gender,Nobility,GoT,CoK,SoS,FfC,DwD
0,Addam Marbrand,Lannister,NaN,NaN,NaN,56.0,1,1,1,1,1,1,0
1,Aegon Frey (Jinglebell),None,299.0,3.0,51.0,49.0,1,1,0,0,1,0,0
2,Aegon Targaryen,House Targaryen,NaN,NaN,NaN,5.0,1,1,0,0,0,0,1
3,Adrack Humble,House Greyjoy,300.0,5.0,20.0,20.0,1,1,0,0,0,0,1
4,Aemon Costayne,Lannister,NaN,NaN,NaN,NaN,1,1,0,0,1,0,0

In [28]:
df.groupby("Allegiances").agg("count")['Name']

Allegiances
Arryn               23
Baratheon           56
Greyjoy             51
House Arryn          7
House Baratheon      8
House Greyjoy       24
House Lannister     21
House Martell       12
House Stark         35
House Targaryen     19
House Tully          8
House Tyrell        11
Lannister           81
Martell             25
Night's Watch      116
None               253
Stark               73
Targaryen           17
Tully               22
Tyrell              15
Wildling            40
Name: Name, dtype: int64

In [31]:
df.groupby(['Gender','Nobility']).agg("count")['Name']

Gender  Nobility
0       0            73
        1            84
1       0           414
        1           346
Name: Name, dtype: int64

In [32]:
df[['Gender','Book of Death']].groupby(['Gender']).agg(["mean","max","min"])

       Book of Death
                mean  max  min
Gender
0           3.333333  5.0  1.0
1           2.874539  5.0  1.0

In [33]:
df[['Nobility','Book of Death']].groupby(['Nobility']).agg(["mean","max","min"])

         Book of Death
                  mean  max  min
Nobility
0             2.910053  5.0  1.0
1             2.957627  5.0  1.0

# Sorting

In [34]:
df[['Name','Allegiances']].groupby("Allegiances").agg("count").sort_values("Name",ascending=True)

                 Name
Allegiances
House Arryn         7
House Tully         8
House Baratheon     8
House Tyrell       11
House Martell      12
Tyrell             15
Targaryen          17
House Targaryen    19
House Lannister    21
Tully              22
Arryn              23
House Greyjoy      24
Martell            25
House Stark        35
Wildling           40
Greyjoy            51
Baratheon          56
Stark              73
Lannister          81
Night's Watch     116
None              253

# custom dataframe functions

In [35]:

import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df

       col1      col2      col3
0  1.048055 -0.291218 -0.277859
1 -0.549892  0.227399  0.887897
2  0.349805 -0.383738 -0.954117
3  0.617879 -1.209322  0.772050
4  0.315800  0.235774  0.916414

In [36]:
def multiply_by_two(x):
    return x*2

df.apply(multiply_by_two)

       col1      col2      col3
0  2.096110 -0.582437 -0.555718
1 -1.099785  0.454797  1.775794
2  0.699611 -0.767476 -1.908234
3  1.235758 -2.418644  1.544100
4  0.631600  0.471548  1.832829

In [37]:
1.048055*2

2.09611

In [39]:
df.apply(lambda x: x*2)

       col1      col2      col3
0  2.096110 -0.582437 -0.555718
1 -1.099785  0.454797  1.775794
2  0.699611 -0.767476 -1.908234
3  1.235758 -2.418644  1.544100
4  0.631600  0.471548  1.832829

In [40]:
import pandas as pd

df = pd.read_csv("data/character-deaths.csv")
df.head(5)

,Name,Allegiances,Death Year,Book of Death,Death Chapter,Book Intro Chapter,Gender,Nobility,GoT,CoK,SoS,FfC,DwD
0,Addam Marbrand,Lannister,NaN,NaN,NaN,56.0,1,1,1,1,1,1,0
1,Aegon Frey (Jinglebell),None,299.0,3.0,51.0,49.0,1,1,0,0,1,0,0
2,Aegon Targaryen,House Targaryen,NaN,NaN,NaN,5.0,1,1,0,0,0,0,1
3,Adrack Humble,House Greyjoy,300.0,5.0,20.0,20.0,1,1,0,0,0,0,1
4,Aemon Costayne,Lannister,NaN,NaN,NaN,NaN,1,1,0,0,1,0,0

In [41]:
df[['Name','Allegiances']].apply(lambda x: x.str.upper())

                        Name      Allegiances
0             ADDAM MARBRAND        LANNISTER
1    AEGON FREY (JINGLEBELL)             NONE
2            AEGON TARGARYEN  HOUSE TARGARYEN
3              ADRACK HUMBLE    HOUSE GREYJOY
4             AEMON COSTAYNE        LANNISTER
..                       ...              ...
912                    ZOLLO             NONE
913        YURKHAZ ZO YUNZAK             NONE
914         YEZZAN ZO QAGGAZ             NONE
915         TORWYND THE TAME         WILDLING
916            TALBERT SERRY           TYRELL

[917 rows x 2 columns]

In [43]:
df['Name'].apply(lambda x: x.lower()) #also works on series data

0               addam marbrand
1      aegon frey (jinglebell)
2              aegon targaryen
3                adrack humble
4               aemon costayne
                ...
912                      zollo
913          yurkhaz zo yunzak
914           yezzan zo qaggaz
915           torwynd the tame
916              talbert serry
Name: Name, Length: 917, dtype: object

# Joins

In [45]:
# import the pandas library
import pandas as pd
left = pd.DataFrame({
   'id':[1,2,3,4,5],
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
   'subject_id':['sub1','sub2','sub4','sub6','sub5']})
right = pd.DataFrame(
   {'id':[1,2,3,4,5],
   'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
   'subject_id':['sub2','sub4','sub3','sub6','sub5']})
print(left)
print()
print(right)

   id    Name subject_id
0   1    Alex       sub1
1   2     Amy       sub2
2   3   Allen       sub4
3   4   Alice       sub6
4   5  Ayoung       sub5

   id   Name subject_id
0   1  Billy       sub2
1   2  Brian       sub4
2   3   Bran       sub3
3   4  Bryce       sub6
4   5  Betty       sub5

In [46]:
import pandas as pd

left = pd.DataFrame({
   'id':[1,2,3,4,5],
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
   'subject_id':['sub1','sub2','sub4','sub6','sub5']})

right = pd.DataFrame({'id':[1,2,3,4,5],
   'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
   'subject_id':['sub2','sub4','sub3','sub6','sub5']})

print(pd.merge(left,right,on='id'))

   id  Name_x subject_id_x Name_y subject_id_y
0   1    Alex         sub1  Billy         sub2
1   2     Amy         sub2  Brian         sub4
2   3   Allen         sub4   Bran         sub3
3   4   Alice         sub6  Bryce         sub6
4   5  Ayoung         sub5  Betty         sub5

## Merge Using 'how' Argument
The how argument to merge specifies how to determine which keys are to be included in the resulting table. If a key combination does not appear in either the left or the right tables, the values in the joined table will be NA.

Here is a summary of the how options and their SQL equivalent names âˆ’

| Merge Method |  SQL Equivalent  |         Description        |
|:------------:|:----------------:|:--------------------------:|
|     left     |  LEFT OUTER JOIN |  Use keys from left object |
|     right    | RIGHT OUTER JOIN | Use keys from right object |
|     outer    |  FULL OUTER JOIN |      Use union of keys     |
| inner        | INNER JOIN       | Use intersection of keys   |

**NOTE:** A module called 'pandasql' can be used to treat dataframes as database tables allowing you to query them using SQL

# DIY Exercises: Chipotle

### Step 1. Import the necessary libraries

- pandas
- numpy

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [ ]:
# url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 3. Assign it to a variable called chipo.

### Step 4. See the first 10 entries

### Step 5. What is the number of observations in the dataset?

### Step 6. What is the number of columns in the dataset?

### Step 7. Print the name of all the columns.

### Step 8. Which was the most-ordered item?

### Step 9. For the most-ordered item, how many items were ordered?

### Step 10. What was the most ordered item in the choice_description column?

### Step 11. How many different items are sold?